In [1]:
import pandas as pd

In [15]:
dataset=pd.read_csv("Zomato_Mumbai_Dataset.csv",delimiter='|')

In [10]:
dataset

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Mumbai,First International Financial Centre-- Bandra ...,https://www.zomato.com/mumbai/hitchki-bandra-k...,1,Casual Dining,12noon to 130am(Mon-Sun),Excellent,4.9,3529
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mumbai,Mahim,https://www.zomato.com/mumbai/baba-falooda-mah...,1,Dessert Parlor,2pm to 1am(Mon-Sun),Very Good,4.4,1723
2,Chin Chin Chu,1800,"Asian,Chinese",Mumbai,Juhu,https://www.zomato.com/mumbai/chin-chin-chu-ju...,1,Casual Dining,12noon to 1am(Mon-Sun),Very Good,4.2,337
3,Butterfly High,1000,Modern Indian,Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/butterfly-high-b...,1,Bar,12noon to 130am(Mon-Sun),Very Good,4.3,1200
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/bkc-dive-bandra-...,1,Bar,1130am to 1am(Mon-Sun),Veľmi dobré,4.4,5995
...,...,...,...,...,...,...,...,...,...,...,...,...
15076,Hari Om Snack Bar,350,"Fast Food,South Indian,Chinese",Mumbai,Kandivali West,https://www.zomato.com/mumbai/hari-om-snack-ba...,99,Quick Bites,11am to 230am(Mon-Sun),Good,3.7,64
15077,PitaBurg,400,"Fast Food,Lebanese",Mumbai,Lower Parel,https://www.zomato.com/mumbai/pitaburg-lower-p...,99,none,"11am to 11pm(Mon,Tue,Wed,Thu,Sun),11am to ...",Average,3.4,99
15078,Uncha Otlawala,300,"Desserts,Ice Cream",Mumbai,Kandivali West,https://www.zomato.com/mumbai/uncha-otlawala-1...,99,Dessert Parlor,9am to 1230AM(Mon-Sun),Good,3.5,29
15079,Mandarin Panda,400,"Desserts,Chinese,Thai",Mumbai,Malad West,https://www.zomato.com/mumbai/mandarin-panda-m...,99,none,"12noon to 330pm,7pm to 1am(Mon-Sun)",Good,3.7,121
15080,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
dataset.shape

(15081, 12)

In [13]:
dataset.info

<bound method DataFrame.info of                     NAME PRICE  \
0                Hitchki  1200
1           Baba Falooda   400
2          Chin Chin Chu  1800
3         Butterfly High  1000
4              BKC  DIVE  1200
...                  ...   ...
15076  Hari Om Snack Bar   350
15077           PitaBurg   400
15078     Uncha Otlawala   300
15079     Mandarin Panda   400
15080                     NaN

                                         CUSINE_CATEGORY    CITY  \
0      Modern Indian,North Indian,Chinese,Momos,Birya...  Mumbai
1                           Desserts,Ice Cream,Beverages  Mumbai
2                                          Asian,Chinese  Mumbai
3                                          Modern Indian  Mumbai
4                       North Indian,Chinese,Continental  Mumbai
...                                                  ...     ...
15076                     Fast Food,South Indian,Chinese  Mumbai
15077                                 Fast Food,Lebanese  Mumbai
15078                                 Desserts,Ice Cream  Mumbai
15079                              Desserts,Chinese,Thai  Mumbai
15080                                                NaN     NaN

                                                  REGION  \
0      First International Financial Centre-- Bandra ...
1                                                  Mahim
2                                                   Juhu
3                                   Bandra Kurla Complex
4                                   Bandra Kurla Complex
...                                                  ...
15076                                     Kandivali West
15077                                        Lower Parel
15078                                     Kandivali West
15079                                         Malad West
15080                                                NaN

                                                     URL PAGE NO  \
0      https://www.zomato.com/mumbai/hitchki-bandra-k...       1
1      https://www.zomato.com/mumbai/baba-falooda-mah...       1
2      https://www.zomato.com/mumbai/chin-chin-chu-ju...       1
3      https://www.zomato.com/mumbai/butterfly-high-b...       1
4      https://www.zomato.com/mumbai/bkc-dive-bandra-...       1
...                                                  ...     ...
15076  https://www.zomato.com/mumbai/hari-om-snack-ba...      99
15077  https://www.zomato.com/mumbai/pitaburg-lower-p...      99
15078  https://www.zomato.com/mumbai/uncha-otlawala-1...      99
15079  https://www.zomato.com/mumbai/mandarin-panda-m...      99
15080                                                NaN     NaN

          CUSINE TYPE                                         TIMING  \
0       Casual Dining                       12noon to 130am(Mon-Sun)
1      Dessert Parlor                            2pm to 1am(Mon-Sun)
2       Casual Dining                         12noon to 1am(Mon-Sun)
3                 Bar                       12noon to 130am(Mon-Sun)
4                 Bar                         1130am to 1am(Mon-Sun)
...               ...                                            ...
15076     Quick Bites                         11am to 230am(Mon-Sun)
15077            none  11am to 11pm(Mon,Tue,Wed,Thu,Sun),11am to ...
15078  Dessert Parlor                         9am to 1230AM(Mon-Sun)
15079            none            12noon to 330pm,7pm to 1am(Mon-Sun)
15080             NaN                                            NaN

       RATING_TYPE RATING VOTES
0        Excellent    4.9  3529
1        Very Good    4.4  1723
2        Very Good    4.2   337
3        Very Good    4.3  1200
4      Veľmi dobré    4.4  5995
...            ...    ...   ...
15076         Good    3.7    64
15077      Average    3.4    99
15078         Good    3.5    29
15079         Good    3.7   121
15080          NaN    NaN   NaN

[15081 rows x 12 columns]>

In [19]:
dataset.describe()

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
count,15081,15080,15079,15080,15080,15080,15080,15080,15015,15080,15080,15080
unique,12720,67,3183,2,241,13823,944,23,2551,32,35,1124
top,NAME,400,CUSINE_CATEGORY,Mumbai,REGION,URL,PAGE NO,Quick Bites,11am to 11pm(Mon-Sun),Average,-,-
freq,942,2042,942,14138,942,942,942,5262,1192,5112,2360,2360

In [22]:
wr=dataset['PAGE NO']=='PAGE NO'

In [24]:
dataset[wr]

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
31,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
47,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
63,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
79,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
...,...,...,...,...,...,...,...,...,...,...,...,...
15000,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15016,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15032,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15048,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15064,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES

In [26]:
datas=dataset[~wr]

In [27]:
datas

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Mumbai,First International Financial Centre-- Bandra ...,https://www.zomato.com/mumbai/hitchki-bandra-k...,1,Casual Dining,12noon to 130am(Mon-Sun),Excellent,4.9,3529
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mumbai,Mahim,https://www.zomato.com/mumbai/baba-falooda-mah...,1,Dessert Parlor,2pm to 1am(Mon-Sun),Very Good,4.4,1723
2,Chin Chin Chu,1800,"Asian,Chinese",Mumbai,Juhu,https://www.zomato.com/mumbai/chin-chin-chu-ju...,1,Casual Dining,12noon to 1am(Mon-Sun),Very Good,4.2,337
3,Butterfly High,1000,Modern Indian,Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/butterfly-high-b...,1,Bar,12noon to 130am(Mon-Sun),Very Good,4.3,1200
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/bkc-dive-bandra-...,1,Bar,1130am to 1am(Mon-Sun),Veľmi dobré,4.4,5995
...,...,...,...,...,...,...,...,...,...,...,...,...
15076,Hari Om Snack Bar,350,"Fast Food,South Indian,Chinese",Mumbai,Kandivali West,https://www.zomato.com/mumbai/hari-om-snack-ba...,99,Quick Bites,11am to 230am(Mon-Sun),Good,3.7,64
15077,PitaBurg,400,"Fast Food,Lebanese",Mumbai,Lower Parel,https://www.zomato.com/mumbai/pitaburg-lower-p...,99,none,"11am to 11pm(Mon,Tue,Wed,Thu,Sun),11am to ...",Average,3.4,99
15078,Uncha Otlawala,300,"Desserts,Ice Cream",Mumbai,Kandivali West,https://www.zomato.com/mumbai/uncha-otlawala-1...,99,Dessert Parlor,9am to 1230AM(Mon-Sun),Good,3.5,29
15079,Mandarin Panda,400,"Desserts,Chinese,Thai",Mumbai,Malad West,https://www.zomato.com/mumbai/mandarin-panda-m...,99,none,"12noon to 330pm,7pm to 1am(Mon-Sun)",Good,3.7,121
15080,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN